
body{
    background-color:beige
}
h1{
    color:black;
    text-align:center;
    font-size: 72px;
    font-weight: bold;
    font-style:italic;
    text-decoration:underline;
}
li{
    color:rgb(91, 212, 212);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
img{
    align-items: center;
}